<h1>Building</h1>

Here's how to generate static content from a RockChisel project:

{{ begin_code(language='bash') }}# python3 site.py{{ end_code() }}

Once run, this will delete any content in your output directory. As a safeguard, the system currently requires
your output directory to contain the string 'output', so you are less likely to misconfigure Rock Chisel and delete
something important.

Once site is built, you can verify it looks like you want in your browser, and then
upload it to any hosting site you like.

Since that was easy, perhaps now you would like to review <A HREF="./themes.html">Themes</A>.
