<h1>Changelog</h1>

<h2>version 0.7 - May 1, 2020</h2>

<ul>
<li>new macros 'table_of_contents' and 'section'</li>
</ul>

<h2>version 0.6 - April 24, 2020</h2>

<ul>
<li>new macro 'quiz'</li>
</ul>

<h2>version 0.5 - April 24, 2020</h2>

<ul>
<li>new macros 'begin_info_block' and 'begin_warn_block'</li>
</ul>

<h2>version 0.4 - April 19, 2020</h2>

<ul>
<li>Theme options (see theme docs)</li>
<li>(version number skipping for packaging update reasons)</li>
</ul>

<h2>version 0.1 - April 18, 2020</h2>

<ul>
<li>Initial beta release</li>
<li>Features including themes, macros, tree navigation, and syntax highlighting.
</ul>



