<h1>Contributing</h1>

Here's How To Participate In The RockChisel project...

<h2>BitBucket</h2>

RockChisel is hosted on BitBucket.  Any submissions should be pull requests to the <A HREF="https://bitbucket.org/laserllama/rockchisel/src/master/">master branch</A>.
Help with Javascript and CSS upgrades are especially welcome, but please talk to us first.

It is better to discuss ideas prior to implementation to avoid redundant efforts - <A HREF="mailto:michael@michaeldehaan.net">email Michael</A> to discuss any ideas.
Please do not submit any reformatting code changes, as these will be rejected.

<h2>Tests</h2>

RockChisel is tested by generating the documentation for RockChisel with RockChisel. Humans are required to interpret this test.

<h2>Bugs</h2>

Please file tickets in BitBucket if you hit an exception and can't fix it with a pull request. Please email feature ideas, do not file feature request
tickets.

<h2>Shoutouts</h2>

If you are using RockChisel and liking it, feel free to let us know, as we like hearing from folks. You can tweet at <A HREF="https://twitter.com/rock_chisel">@rock_chisel</A> or email Michael.

<h2>Roadmap</h2>

The current list of ideas, sometimes in order, is kept in <A HREF="https://bitbucket.org/laserllama/rockchisel/src/master/TODO.md">TODO.md</A>.



