<h1>RockChisel {{ version }}</h1>

<p>
It's important to have a documentation system that fits the way you want to work, and mostly tries to stay out of your way.
</p>

<p>
<b>Rock Chisel</b> is a <b>static web site generator</b>. It generates technical documentation or simple HTML websites.
It generated <i>this</i> website, as you will find out as you read more.
</p>

<p>
<a href="http://michaeldehaan.net">Michael DeHaan</A> created Rock Chisel based on his experience creating the <i>Ansible</i> project and managing the documentation
infrastructure around it for many years. In those days, Michael used <i>Sphinx</i>. Sphinx is powerful, but Rock Chisel is intended to be easier to use,
while also looking a bit more modern out of the box.
</p>

<p>
Most significantly, Rock Chisel files and templates are <b>just HTML</b>. Rock Chisel helps you format and reuse snippets of HTML to make your life easier, but
it doesn't make you code in Markdown or Restructured Text.
</p>

<p>
Rock Chisel is not designed for auto-generating documentation from source code or running blogs.
Otherwise, the framework will continue to grow and evolve over time, and discussion on a wide variety of potential features is welcome.
Follow <a href="http://twitter.com/rock_chisel">@rock_chisel</a> on twitter to be notified of updates and new capabilities.
</p>

<p>
Features:

<ul>
<li>Write documentation using HTML you already know</li>
<li>Substitute in variables and user-defined snippets using Jinja2 templates</li>
<li>No need to remember  markdown or RST syntax</li>
<li>Auto-generated sidebar menu navigation</li>
<li>A clean bootstrap theme by default, that is easy to fork and modify</li>
<li>Code syntax highlighting with Prism.js</li>
<li>A simple, easily hackable Python 3 codebase</li>
</ul>
</p>

<p>
Rock Chisel is MIT-licensed free software.
</p>