<h1>Installation</h1>

<p>First, install python3 on a Mac or Linux system (Windows support is fairly trivial, and pending. Once you are there,
installation is simple:</p>

{{ begin_code(language='bash') }}# pip3 install rockchisel{{ end_code() }}

Now you're ready to learn how to <A HREF="./authoring.html">Author Content</A>.