<h1>Themes</h1>

<p>
Because not everyone wants their documentation to look the same, RockChisel has a themeing engine.
</p>

<p>
Themeing is fairly open ended, and you are not required
to keep the left-hand sidebar or follow any conventions.
</p>

<p>
The theme we ship with is <B>rockchisel.themes.rockdoc</B>, which observant readers may notice is a Python package!
</p>

<p>
You do not have to use themes that come with RockChisel, but themes should be discoverable through the <B>PYTHON_PATH</B>
environment setting if not.
</p>

<h2>Using A Theme</h2>

Both the theme selection and theme specific options are defined in a project's <B>site.py</B>.

{{ begin_code(language="python") }}#!/usr/bin/python
{% raw %}

site = Builder(

    # ...

	theme = "rockchisel.themes.rockdoc",

	# ...

	theme_options = dict(
	    sidebar_background = "#FF0000"
	)

)

site.build(){% endraw %}{{ end_code() }}

<i>theme_options</i> (added in version 0.2) are unique to each theme.  The examples above are options for the <i>rockdoc</i> theme.

<h2>Creating Your Own Theme</h2>

First, read the source to the <A HREF="https://bitbucket.org/laserllama/rockchisel/src/master/rockchisel/themes/rockdoc/">rockdoc</A> theme.
Rockdoc is the default theme for Rock Chisel, and all user themes should follow the same patterns and rules as this one.

<h3>__init__.py</h3>

Each theme file must have some common settings in <B>__init__.py</B>. This is fairly short:

{{ begin_code(language='python') }}THEME_META = dict(
	author = "Michael DeHaan",
	email = "michael@michaeldehaan.net",
	license = "MIT",
	url = "http://rockchisel.com",
	version = "0.1"
)

VARIABLES = dict(
	foo = 'bar',
	baz = 123
)

SNIPPETS = [
	'footer', 'header', 'topleft'
]

MACROS = [
	'macros', 'user_macros'
]{{ end_code() }}

<p>
The <b>THEME_META</b> contains information about the theme that is currently not processed by anything.
</p>

<p>
<b>VARIABLES</b> sets some quick template variables that are available in all user templates, but most themes won't need
to define any.
</p>

<p>
<b>SNIPPETS</b> is important  to understand.  It defines what small parts of theme can be overridden by users by dropping a file of the same
name in their project input directory. <i>Header</i> and <i>footer</i> are largely obvious. 'topleft' corresponds to the top
left corner of the system and is a good place to drop in a logo.  If you are writing your own theme, you can choose to use
more snippets than this, but we recommend studying <b>rockdoc</b>'s theme code for reference.
</p>

<p>
Finally, <b>MACROS</b> defines files that declare Jinja2 macros the user can use. These are used to provide such features
as syntax highlighting. RockChisel actually provides non-theme implementations of these, but the theme can, if it wants,
choose to override the ones that come with RockChisel or provide new ones.  The macro file 'user_macros' should not be
set by theme, and is reserved for project directories to define their own macros that can be used in every template.
</p>

<h3>Files and Templates</h3>

<p>
The main file that every documentation page in a Rock Chisel project is rendered against is <i>theme.j2</i>.  As mentioned above, it may be built
out of numerous <b>SNIPPETS</b>, that the user can override in their project files - effectively substituting out small components of the theme.
These are the <b>SNIPPETS</b> defined in the <B>__init__.py</B> for the theme.
</p>

<p>
Any CSS file in the theme directory is also treated as a Jinja2 template (since version 0.2). It has access to theme_options but not other
project variables.
</p>

<p>
The theme directory can also contain static files like images or javascript, and these are copied over directly without
any templating applied.
</p>







